@keyframes loadingBorder {
    0% {
        box-shadow: 0 0 0 4px rgba(0, 71, 255, 0.8); /* Blauw */
    }
    25% {
        box-shadow: 0 0 0 4px rgba(255, 64, 129, 0.8); /* Roze */
    }
    50% {
        box-shadow: 0 0 0 4px rgba(156, 39, 176, 0.8); /* Paars */
    }
    75% {
        box-shadow: 0 0 0 4px rgba(255, 64, 129, 0.8); /* Terug naar Roze */
    }
    100% {
        box-shadow: 0 0 0 4px rgba(0, 71, 255, 0.8); /* Terug naar Blauw */
    }
}

